vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Feb 2004 07:11:56 -0000
vti_extenderversion:SR|6.0.2.6353
vti_author:SR|AlanXua\\徐咏波
vti_modifiedby:SR|AlanXua\\徐咏波
vti_timecreated:TR|13 Feb 2004 07:11:56 -0000
vti_cacheddtm:TX|13 Feb 2004 07:11:56 -0000
vti_filesize:IR|3153
vti_cachedlinkinfo:VX|S|ToolbarBg.gif S|ToolbarRIGHT.gif S|ToolbarLeft.gif S|TBHandle.GIF
vti_cachedsvcrellinks:VX|FSUS|CSS/CoolBlue/ToolbarBg.gif FSUS|CSS/CoolBlue/ToolbarRIGHT.gif FSUS|CSS/CoolBlue/ToolbarLeft.gif FSUS|CSS/CoolBlue/TBHandle.GIF
vti_backlinkinfo:VX|
